@{
    ViewData["Title"] = "Área administrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="container container-centralizado">

    <a class="btn" href="#">Gerenciar instituições</a>
    <a class="btn" href="/Admin/Pratica/MinhasPraticas">Gerenciar práticas</a>
    <a class="btn" href="#">Vincular práticas</a>

</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}
