@{
    ViewData["Title"] = "Minhas práticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-centralizado">

    <h1>Minhas práticas</h1>

    @* TODO: Lista de práticas *@

    <button type="button" class="btn">Nova prática</button>

</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}
